Repository AnonymusRaccoon/ComSquare, pull requests merged in 2021-06, with the labels that each got.

#39 Ppu debugger
  CMakeLists.txt
  sources/Debugger/CPU/CPUDebug.hpp
  sources/Debugger/TileViewer/RAMTileRenderer.cpp
  sources/Debugger/TileViewer/RAMTileRenderer.hpp
  sources/Debugger/TileViewer/TileViewer.cpp
  sources/Debugger/TileViewer/TileViewer.hpp
  sources/PPU/Background.cpp
  sources/PPU/Background.hpp
  sources/PPU/PPU.cpp
  sources/PPU/PPU.hpp
  sources/PPU/PPUUtils.cpp
  sources/PPU/PPUUtils.hpp
  sources/PPU/Tile.hpp
  sources/PPU/TileRenderer.cpp
  sources/PPU/TileRenderer.hpp
  sources/Renderer/QtRenderer/QtSFML.cpp
  sources/Renderer/QtRenderer/QtSFML.hpp
  sources/Renderer/QtRenderer/QtSfmlTileRenderer.cpp
  sources/Renderer/QtRenderer/QtSfmlTileRenderer.hpp
  sources/Renderer/QtRenderer/QtWidgetSFML.hpp
  sources/Renderer/SFRenderer.cpp
  sources/Renderer/SFRenderer.hpp
  sources/SNES.cpp
  sources/SNES.hpp
  sources/main.cpp
  ui/tileView.ui
Labels: PPU

#41 Load SPC rom
  .gitignore
  sources/APU/APU.cpp
  sources/APU/APU.hpp
  sources/APU/DSP/DSP.hpp
  sources/APU/Operand.cpp
  sources/Cartridge/Cartridge.cpp
  sources/Cartridge/Cartridge.hpp
  sources/Debugger/APUDebug.cpp
  sources/Debugger/APUDebug.hpp
  sources/Ram/Ram.cpp
  sources/Ram/Ram.hpp
  sources/SNES.cpp
  tests/APU/testAPUInstructions.cpp
  tests/APU/testOperand.cpp
  ui/apuView.ui
Labels: enhancement

#40 Ppu adding Tile viewer debugger
  CMakeLists.txt
  sources/Debugger/CPU/CPUDebug.hpp
  sources/Debugger/MemoryBusDebug.hpp
  sources/Debugger/TileViewer/RAMTileRenderer.cpp
  sources/Debugger/TileViewer/RAMTileRenderer.hpp
  sources/Debugger/TileViewer/TileViewer.cpp
  sources/Debugger/TileViewer/TileViewer.hpp
  sources/Models/Vector2.hpp
  sources/PPU/Background.cpp
  sources/PPU/Background.hpp
  sources/PPU/PPU.cpp
  sources/PPU/PPU.hpp
  sources/PPU/PPUUtils.cpp
  sources/PPU/PPUUtils.hpp
  sources/PPU/Tile.hpp
  sources/PPU/TileRenderer.cpp
  sources/PPU/TileRenderer.hpp
  sources/Renderer/QtRenderer/QtSFML.cpp
  sources/Renderer/QtRenderer/QtSFML.hpp
  sources/Renderer/QtRenderer/QtSfmlTileRenderer.cpp
  sources/Renderer/QtRenderer/QtSfmlTileRenderer.hpp
  sources/Renderer/QtRenderer/QtWidgetSFML.hpp
  sources/Renderer/SFRenderer.cpp
  sources/Renderer/SFRenderer.hpp
  sources/SNES.cpp
  sources/SNES.hpp
  sources/main.cpp
  ui/tileView.ui
Labels: PPU, enhancement
